# Pulsar secrets and topic
PULSAR_SERVICE="pulsar+ssl://pulsar-aws-useast2.streaming.datastax.com:6651"
PULSAR_TOKEN="eyJhbGciO"
PULSAR_TOPIC = "persistent://jira-difli/default/jira-stream"

# Astra DB secrets
ASTRA_DB_API_ENDPOINT = "https://5762f596-3f12-4c00-8df9-7fea96eb2564-us-east-2.apps.astra.datastax.com"
ASTRA_DB_APPLICATION_TOKEN = "AstraCS:cksOxG..."
ASTRA_COLLECTION_NAME = "jira_data"

# Optionally: LangSmith secrets for tracing
#LANGCHAIN_TRACING_V2 = ""
#LANGCHAIN_ENDPOINT = ""
#LANGCHAIN_API_KEY = ""
#LANGCHAIN_PROJECT = ""

# OpenAI secrets
OPENAI_API_KEY = "sk-Vz..."